{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static '/weather/weather_styles.css'%}">
    <title>simple weather</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand active" href="#">Matt Palmer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'home' %}">Home</a> </a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%static 'PalmerCV.pdf'%}" target="_blank">Resume</a> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/matt-palmer/" target="_blank">LinkedIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'apps'%}">Apps</a>
                </li>
                </ul>
            </div>
        </nav>
    
    <div class="container my-5 mx-auto">

        <h1 class="text-muted text-center my-4">simple weather</h1>

        <form class="change-location my-4 text-center text-muted">
            <label for="city">Enter a location for weather information.</label>
            <input type="text" name="city" class="form-control p-4">
        </form>
    
        <div class="card shadow-lg rounded d-none">
            <img src="https://via.placeholder.com/400x300.png" class="time card-img-top">
            <div class="icon bg-light mx-auto text-center">
                <img src="" alt="">
            <!--icon-->
        </div>
        
        <div class="text-muted text-uppercase text-center details">
            <h5 class="my-3">City name</h5>
            <div class="my-3">Weather condition</div>
            <div class="display-4 my-4">
                <span>temp</span>
                <span>&deg;F</span>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        DJANGO_STATIC_URL = '{% static ""%}';
    </script>
    <script src="{%static '/weather/scripts/forecast.js'%}"></script>
    <script src="{%static '/weather/scripts/weather.js'%}"></script>
    
</body>
</html>